<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>  
    <%- include('../partials/head.ejs') %>


  </head>
    <body>
        <a href="/">Home</a>

      <div class="container">
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <div class="leftNav">
              <a class="navButtons" href="/">Home</a>
              <a class="navButtons" href="/travelAdvice">Travel Advice</a>
              <a class="navButtons" href="/searchFlights">Search Flights</a>
              <a class="navButtons" href="/searchHotels">Search Hotels</a>
          </div>

          <div class="rightNav">
              <a class="navButtons" href="/login">Login</a>
              <a class="navButtons" href="/register">Sign Up</a>
          </div>
        </nav>

        <h1>Sign Up</h1>
        <div class="row">
          <form class="col s12" action="/register" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <input id="username" type="text" class="validate" name="username" minlength="6" required>
                <label for="username" >User Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="text" class="validate" name="email" required>
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password" minlength="6" required>
                <label for="password" >Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="confirm" type="password" class="validate" name="confirmPassword" required>
                <label for="confirm">Confirm your password</label>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>

        <div class="container">
          <h2>Already have an account?</h2>
          <a href="/register">Log In Here</a>
        </div>
      </div>


      </div>



        <%- include('../partials/footer.ejs') %>

    </body>
</html>
